# Airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__WEBSERVER__SECRET_KEY=
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=

# Base de datos interna de Airflow
POSTGRES_USER=airflow
POSTGRES_PASSWORD=
POSTGRES_DB=airflow

# Data Warehouse remoto
DW_HOST=
DW_PORT=6432
DW_DBNAME=
DW_USER=
DW_PASSWORD=

# Kaggle API
KAGGLE_USERNAME=
KAGGLE_KEY=

# Parámetros operativos del pipeline
DW_FX_RATE_USD=1.20
DW_DEFAULT_COUNTRY=United Kingdom
DW_PASSWORD=
AIRFLOW_UID=